p{
    font-size: 20px;
    color: red;
}

#gruby{
    font-size: 17pt;
    font-weight: bold;
    color: green;
}
#dlaWszystkich {
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}
/* Piotr Zukowski 30.05.2022 